<div class="container mt-5">
    <div class="row">
        <div class="col">
            <img
                src="https://us.123rf.com/450wm/robuart/robuart1911/robuart191100144/133438387-smiling-woman-shopaholic-choosing-new-high-heels-female-sitting-on-chair-and-looking-at-mirror-lady-.jpg?ver=6">
        </div>
        <div class="col-7">
            <div class="card text-center mt-3">
                <div class="container">
                    <div class="card-title mt-2">
                        <h3>Login</h3>
                    </div>
                    <form #loginform = "ngForm" (ngSubmit)="loginUser()" class="card-body">
                        <small class="text-danger">
                            {{msg}}
                        </small>
                        <div class="form-group row mt-3">
                            <label for="email" class="col-sm-2 col-form-label">Email Id</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="email" id="email" 
                                placeholder="Enter Email" [(ngModel)]="user.usrmail" required #email="ngModel" 
                                [class.is-invalid]="email.invalid && email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            
                                <div *ngIf="email.errors && (email.invalid && email.touched)">
                                    <small class = "text-danger" *ngIf="email.errors?.['required']">Email Id is required field</small>
                                    <small class = "text-danger" *ngIf="email.errors?.['pattern']">Enter Valid Email Address</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Enter Password" required 
                                    [(ngModel)]="user.usrpassword" #password="ngModel" 
                                [class.is-invalid]="password.invalid && password.touched">
                                <small class= "text-danger" [class.d-none] = "password.valid || password.untouched">Password is required field</small>
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            <div class="col-sm-13">
                                <button [disabled]="loginform.form.invalid" type="submit" class="submitbtn btn btn-primary">Login</button>
                            </div>
                        </div>
                        <p class = "regbtn mt-3">New User? <a [routerLink]="['/users/register']">Register</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>